# Directories
out_clean/
out_raw/
out_rag_optimized/
done/
PDFs/
out_clean_no_images/


# Secrets and Config
.env

# Python
.venv/
__pycache__/
*.py[cod]

# App specific
cache/

# System and IDE
.DS_Store
.vscode/
.claude/
.kilocode/
firebase-debug.log

# PDFs
*.pdf
